cluster.name: es-cluster
node.name: "es-{{ node_name }}"
{% if node_name != 'master' -%}
node.data: true
{%- else -%}
node.master: true
{%- endif %}
network.host: {{ host }}
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
http.port: 9200
discovery.seed_hosts:
   - {{ master_host }}
   - {{ node_1_host }}
   - {{ node_2_host }}
