cluster.name: es-cluster
node.name: "es-{{ node_name }}"
{% if node_name != 'master' %}
node.roles: [ data, ingest ]
{% else %}
node.roles: [ master, data ]
cluster.initial_master_nodes: ["{{ host_ip }}"]
{% endif %}
network.host: {{ host_ip }}
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
http.port: 9200
discovery.seed_hosts:
   - {{ master_host }}
   - {{ node_1_host }}
   - {{ node_2_host }}
