input {
    tcp {
        codec => "json"
        port => 5042
        ssl_enable => true
        ssl_cert => '{{ logstash_conf }}/{{ client_cert }}'
        ssl_key => '/etc/elasticsearch/certs/http.p12'
    }
}

output {
    elasticsearch {
        hosts => ["{{ master_host }}:9200", "{{ node_1_host }}:9200", "{{node_2_host}}:9200"]
        ssl => true
        cacert =>  '{{ logstash_conf }}/{{ client_cert }}'
    }
}
