input {
    tcp {
        type => "logs"
        codec => "json"
        port => 5042
    }
}

output {
    elasticsearch {
        hosts => ["{{ master_host }}:9200", "{{ node_1_host }}:9200", "{{node_2_host}}:9200"]
    }
}
